a[mat-list-item] {

    span[matListItemTitle], mat-icon {
        transition: color 0.3s ease;
      }

    &:hover {
      span[matListItemTitle], mat-icon{
        color: #EB5E28;
      }
    }
  }

  .active-link span {
    color: #EB5E28 !important; /* Cambia el color del texto */
  }
  
  .active-link mat-icon {
    color: #EB5E28 !important; /* Cambia el color del icono si es necesario */
  }

