.cards-container{
    gap: .5rem;
}

a{
    text-decoration: none;
    line-height: 1.5;
    color: black;
}

mat-card:nth-child(odd){
    animation: fadeDownCard 2s ease;
}
mat-card:nth-child(even){
    animation: fadeUpCard 2s ease;
}

mat-card {
    width: 14rem;
    border-radius: 15px;
    box-shadow: 5px 5px 10px;
    transition: all 500ms ease;

    img {
        display: block;/**/
        margin: 0 auto;
        max-width: 100%;  /*Asegura que la imagen no crezca fuera del contenedor */
        transition: inherit;  /*Hereda la transición del mat-card */
    }

    &:hover {
        transform: scale(1.05);
    }
}

mat-card-content{
    text-align: center;
    text-wrap: wrap;
    >h3{
        font-weight: bold;
    }
}

@media screen and (max-width:994px) {
    .cards-container{
        flex-direction: column;
        align-items: center;
    }

    mat-card{
        width: 12rem;
        height: 10rem;
        >img{
            width: 65px;
        }
    }

    mat-card:nth-child(odd){
        animation: fadeRightCard 3s ease;
    }
    mat-card:nth-child(even){
        animation: fadeLeftCard 3s ease;
    }

    mat-card-content{
        >p{
            font-size: .8rem;
        }
    }
}

@keyframes fadeUpCard {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Devuelve la imagen a su posición original */
    }
}
@keyframes fadeDownCard {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Devuelve la imagen a su posición original */
    }
}

@keyframes fadeRightCard {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Devuelve la imagen a su posición original */
    }
}
@keyframes fadeLeftCard {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Devuelve la imagen a su posición original */
    }
}