<section class="container mt-5 d-flex justify-content-around cards-container">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="/assets/images/stock_17345741.png" alt="" [width]="100">
      <mat-card-content>
        <h3>INVENTORY</h3>
        <p>Access to the full inventory of the bookshop</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="/assets/images/shopping-cart_1413908.png" alt="" [width]="100">
      <mat-card-content>
        <h3>SALES</h3>
        <p>Check sales records</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="/assets/images/contact_17177771.png" alt="" [width]="100">
      <mat-card-content>
        <h3>CONTACTS</h3>
        <p>Add, edit or delete suppliers</p>
      </mat-card-content>
    </mat-card>
  </section>